#hardware-index-table {
  text-align: center;

  th:hover {
    cursor: pointer;
  }
  .sorter-false:hover {
    cursor: default;
  }
}

.state-ok i {
  color: green;
}

.state-ko i {
  color: red;
}
