<% provide(:active_section, "speedcubing") %>

<%= render "shared/nav_competitions", current_page: :calendrier, title: I18n.t("competitions.old_comps_pages.title") do %>
  <p>
    <%= I18n.t("competitions.old_comps_pages.intro") %>
  </p>
  <% if @competition_pages.any? %>
    <div class="list-group">
      <% @competition_pages.each do |post| %>
        <%= link_to post.title, view_post_path(post), class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  <% end %>
<% end %>
