<% provide(:title, "Contact") %>
<% provide(:active_section, "contact") %>

<%= render "layouts/page_wrapper", title: "Contact" do %>

  <p>Si vous avez une question concernant une compétition, merci d’envoyer directement un mail à l'équipe d'organisation de celle-ci. Leur contact se trouve sur la page WCA de la compétition en question.</p>

  <p>Pour toute question, remarque, ou suggestion concernant l’AFS : merci d’envoyer un mail à <%= mail_to "contact@speedcubingfrance.org" %>.</p>

  <p>Si vous constatez un problème avec le site internet, vous pouvez directement ouvrir un bug ("Issue") sur <a href="https://github.com/speedcubingfrance/speedcubingfrance.org/issues">github</a>, ou contacter les administrateurs à <%= mail_to "admin@speedcubingfrance.org" %>.</p>

  <p>Si vous êtes organisateur·ice d'une compétition et que vous souhaitez mettre en place un streaming, merci de contacter l'équipe streaming le plus tôt possible à l'adresse <%= mail_to "streaming@speedcubingfrance.org" %>.</p>
<% end %>
