<% provide(:title, I18n.t("tutos.organizer.title")) %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutos", current_page: :orga, title: I18n.t("tutos.organizer.title") do %>
    
  <p><%= t("tutos.organizer.p1_html", link_document: link_to(t("tutos.organizer.document"), "https://docs.google.com/document/d/19Y66EYz4JYrcVmzE8zmnOHCppGJGDg0sBDQaUv54sJg/edit?usp=sharing")) %></p>
  
<% end %>
