<% provide(:title, I18n.t("tags.edit.title", tag: @tag.name)) %>
<h1><%= I18n.t("tags.edit.title", tag: '') %></h1>

<%= link_to I18n.t("tags.edit.back"), tags_path %>

<%= render 'form', tag: @tag %>

