<% provide(:title, I18n.t("tags.index.title")) %>
<h1><%= I18n.t("tags.index.title") %></h1>

<%= link_to I18n.t("tags.index.post_list"), news_index_path %>

<p><%= I18n.t("tags.index.click_on_tag") %></p>

<div class="tag-index">
  <% @tags.each do |tag| %>
    <%= render("shared/tag", tag: tag, container: :a, link: edit_tag_path(tag)) %>
  <% end %>
</div>
