<% provide(:title, I18n.t("online_competitions.create.title")) %>
<% provide(:active_section, "speedcubing") %>
<h1><%= yield(:title) %></h1>

<%= render 'form', online_competition: @online_competition %>
