<% provide(:title, "Importation des régions et départements") %>

<h3>Regions in db</h3>
<ul>
<% Region.all.each do |region| %>
	<li><%= region.name %> (<% Department.where(region: region).each do |dep|%><%= dep.name + ',' %><% end %>)</li>
<% end %>
</ul>
