<h1><%= I18n.t("external_resources.new.title") %></h1>

<%= render 'form', external_resource: @external_resource %>

<%= link_to I18n.t("button.cancel"), external_resources_path, class: "btn btn-sm btn-danger" %>
